$var1: #000000

.catalog 
	padding-top: 50px
    padding-left: 30px
.categories 
	display: block
	color: $var1
	text-transform: uppercase
	font-weight: 600
	font-size: 16px
	padding-bottom: 10px

.menu 
	padding-left: 30px

ul 
	list-style-type: none

.li 
	display: block
	flex: 1 1 calc(100% - 40px)
	padding-top: 8px
	padding-bottom: 8px
	padding-right: 5px
	width: calc(100% - 40px)
	text-decoration: none
	font-size: 16px
	line-height: 1.4
.navlink 
    color:#000

.navlink:hover 
	color: $var1
	cursor: pointer
