$var1: #ffffff
$var2: #28a745

.product_block 
	margin-bottom: 40px

.products_img 
	width: 100%
	height: 470px
	margin-top: 15px
	&_smile 
		max-width: 100%
		height: auto
		margin-top: 15px
	

.product_name 
	display: flex
	align-items: center
	justify-content: start
	padding: 20px 0
	font-size: 40px
	font-weight: 600
	line-height: 1

.product-description 
	margin: 15px 50px 40px auto

.availability 
	margin-bottom: 16px
	span 
		color: $var1
		background-color: $var2
		font-weight: 600
		border-radius: 3px
		width: 15%
		text-align: center
		padding: 2px 8px
	

p 
	font-weight: 500
	margin-bottom: 16px

